# Twitter client---
#CONSUMER_KEY=
#CONSUMER_SECRET=
#ACCESS_TOKEN=
#ACCESS_TOKEN_SECRET=

# Bitly client---
BITLY_TOKEN=

# Web3---
GENERALIZED_TCR_VIEW_ADDRESS=0xb0c486612eb11758bb44bc1fc1d22c5543f09085
LGENERALIZED_TCR_VIEW_ADDRESS=0x8d8928c106d67e0C5cf8686D3716243D7A6cC772
FACTORY_ADDRESS=0x4296b39059b8591d4f22a0fc4ee49508279b8fc6
LFACTORY_ADDRESS=0xF937B56339eD589768fc2eaE5c11320b50a97329
PROVIDER_URL=https://kovan.infura.io/v3/<secret-key>
IPFS_GATEWAY=https://ipfs.kleros.io
GTCR_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/eccentricexit/light-curate-kovan-ii

# The block time is used calculate how many blocks to scan when fetching
# logs and avoid rate limiting by web3 providers.
BLOCK_TIME_MILLISECONDS=4000

# The bot learns the addresses of TCRs to watch by fetching logs,
# emitted by the factory. We can be more efficient by
# starting at the deployment block of the factory contract.
# This field is optional, if not set, 0 will be used.
FACTORY_BLOCK_NUM=18495615
LFACTORY_BLOCK_NUM=27711172

# Links---
GTCR_UI_URL=https://curate.kleros.io
