# Twitter client---
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Bitly client---
BITLY_TOKEN=

# Web3---
GENERALIZED_TCR_VIEW_ADDRESS=0xd28f9f565f24ce5d9a3df63db186fb774f66468c
FACTORY_ADDRESS=0xe9CEBC964B00B2e0008eE99671617Be14358d746
PROVIDER_URL=https://kovan.infura.io/v3/<secret-key>
IPFS_GATEWAY=https://ipfs.kleros.io
# The block time is used calculate how many blocks to scan when fetching
# logs and avoid rate limiting by web3 providers.
BLOCK_TIME_MILLISECONDS=4000

# The bot learns the addresses of TCRs to watch by fetching logs,
# emitted by the factory. We can be more efficient by
# starting at the deployment block of the factory contract.
# This field is optional, if not set, 0 will be used.
FACTORY_BLOCK_NUM=16384123

# Links---
GTCR_UI_URL=https://gtcr-dev.netlify.com


# Optional. 3000 is used if not set.
PORT=
